<!DOCTYPE html>
<html>
<head>
	    <meta charset="utf-8">
    <title>tp5企业网站</title>
    <meta name="description" content="Dashboard">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--Basic Styles-->
    {include file="public/style"/}
    
</head>
<body>
	<!-- 头部 -->
    {include file="public/top"/}

	<!-- /头部 -->
	
	<div class="main-container container-fluid">
		<div class="page-container">
			            <!-- Page Sidebar -->
            {include file="public/left"/}
            <!-- /Page Sidebar -->
            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                                        <li>
                        <a href="#">系统</a>
                    </li>
                                        <li class="active">配置管理</li>
                                        </ul>
                </div>
                <!-- /Page Breadcrumb -->
                <!-- Page Body -->
                <div class="page-body">
                    
<button type="button" tooltip="添加配置" class="btn btn-sm btn-azure btn-addon" onClick="javascript:;"> 网站配置项
</button>
<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-body">
                <div class="flip-scroll">
                    <form action="" method="post">
                        <table class="table table-bordered table-hover">
                        <thead class="">
                            <tr>
                                <th class="text-center" width="10%">配置名称</th>
                                <th class="text-center" >配置值</th>
                            </tr>
                        </thead>
                        <tbody>
                            {volist name='confres' id="conf"}
                            <tr>
                                <td align="center">{$conf.cnname}</td>
                                <td align="center"><input name="{conf.id}" type="text" style="max-width: 80%;min-width: 50%;text-align: center;" class="form-control" value="{$conf.values}"></td>

                            </tr>
                            {/volist}
                        </tbody>
                    </table>
                    <div>
                        <input  class="btn btn-primary btn-sm shiny" style="margin-left: 225px; margin-top: 10px " type="submit"value="sort">
                    </div>
                </div>
                </div>
                </div>
                <div style="padding-top:10px;width: 230px;text-align:center">

                </div>
                <div>
                	                </div>
            </div>
        </div>
    </div>
</div>

                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
		</div>	
	</div>

	    <!--Basic Scripts-->
    <script src="__ADMIN__/style/jquery_002.js"></script>
    <script src="__ADMIN__/style/bootstrap.js"></script>
    <script src="__ADMIN__/style/jquery.js"></script>
    <!--Beyond Scripts-->
    <script src="__ADMIN__/style/beyond.js"></script>
    


</body></html>